@import "~ant-design-vue/dist/antd.less";
@import "theme-file.less";
@import "global.less";
// public
.horizontal-flex{
	flex:1;
	display:flex;
	flex-direction:row;
}
.vertical-flex{
	flex:1;
	display:flex;
	flex-direction:column;
}
// main
.main{
	width:100%;
	height:100%;
	display:flex;
	background: #f8f8f8;
	background-size:cover;
	&.blur{
		/*position: relative;
		z-index: 1;*/
		&:after{
			/*content: "";
			width:100%;
			height:100%;
			position: absolute;
			left:0;
			top:0;
			background: inherit;
			filter: blur(1px);
			z-index: 2;*/
		}
	}
}
/* header */
.header{
	position: relative;
	z-index: 1;
	background: #fff;
	box-shadow:0 1px 5px rgba(0,0,0,.3);
	.menu{
		background: none;
		border-bottom: none;
	}
	.logo{
		float:left;
		width:300px;
		line-height:18px;
		margin-top:5px;
		padding:5px 10px;
		border-radius:5px;
		.ant-list-item-meta-avatar{
			margin-top:5px;
		}
		.ant-list-item-meta-title{
			margin:0;
			padding:0;
			font-size:15px;
		}
		.ant-list-item-meta-description{
			padding:0;
			font-size:12px;
		}
	}
}
/* left-menu */
.ant-layout-sider-children{
	overflow-y: auto;
}
.left-menu{
	.title{
		height:50px;
		line-height: 50px;
		background:#1a2229;
		color: #fff;
		padding-left:25px;
		font-size: 15px;
	}
}
/* right content */
.breadcrumb{
	height:45px;
	line-height:45px;
	margin-left:@box-gap;
}
.container{
	.vertical-flex;
	margin-left:@box-gap;
	padding-right:@padding-gap;
	.com-box{
		.vertical-flex;
		background: #fff;
		color:#fff;
		word-break:break-all;
		text-align:justify;
		margin-bottom: @margin-bottom;
		&.fixed{
			display:flex;
			flex-direction:column;
			position:fixed;
			left:0;
			top:0;
			right:0;
			bottom:0;
			height:100%;
			margin: 0;
			z-index:999;
			background: #fff;
		}
		.title{
			line-height: 25px;
			padding:10px 15px 7px;
			border-bottom:1px solid rgba(255,255,255,.3);
			background: #2d353c;
		}
		.edit{
			float: right;
		}
		.content{
			transition-duration:.3s;
			overflow:hidden;
			padding:0 @padding-gap;
			overflow-y: auto;
		}
	}

}

/*滚动条*/
::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
	background-color: rgba(0,0,0,.3);
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: rgba(0,0,0,.1);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(0,0,0,.4);
}
/* end 滚动条*/