@margin-gap: 20px;                           //外边距
@margin-bottom: 10px;                        //底部外边距
@padding-gap: 15px;                          //内边距
@background-base-bg: rgba(0,0,0,.3);         //默认背影颜色
@layoutWidth: 998px;                         //宽度
@marginAlign: auto;                          //对齐方式