@import "global.less";
.section{
	header{
		height: 45px;
		line-height: 45px;
		color: #fff;
	}
	.content{
	}
}
.home-main{
	width:@layoutWidth;
	margin:@margin-gap @marginAlign;
	padding:@padding-gap;
	background:@background-base-bg;
	overflow: hidden;
	.silder{
		float:left;
		width:600px;
		height:400px;
	}
}
.home{
	.update{
		width:@layoutWidth;
		margin:@margin-gap @marginAlign;
		background:@background-base-bg;
		overflow: hidden;
	}
}